.Information {
    display: flex;
    padding: 2.1vh 8vw;
    flex-direction: column;
  }
  
  .Information .main {
    display: flex;
    justify-content: space-between;
  }
  
  .Information .main img {
    width: 37%;
  }
  
  .Information .main .textInformation {
    display: flex;
    flex-direction: column;
    width: 60%;
    font-family: 'Source Sans Pro';
    font-weight: bold;
  }
  
  .Information .main .textInformation .textInformation--characteristic {
    justify-content: space-between;
    display: flex;
    color: #FFFFFF;
    font-size: 1rem;
    text-align: center;
    width: 50%;
  }
  
  .Information .main .textInformation .textInformation--characteristic .textInformation--characteristic--1 {
    background: #424242;
    border: none;
    border-radius: 20px;
    padding: 1vh 2vw;
  }
  
  .Information .main .textInformation .textInformation--characteristic .textInformation--characteristic--2 {
    background: #00828D;
    border: none;
    border-radius: 20px;
    padding: 1vh 2vw;
  }
  
  .Information .main .textInformation .textInformation--main {
    display: flex;
    flex-direction: column;
    padding: 0vh 0;
  }
  
  .Information .main .textInformation .textInformation--main h1 {
    font-size: 2.5rem;
  }
  
  .Information .main .textInformation .textInformation--main span {
    font-size: 20px;
    font-weight: 300;
  }
  
  .Information .main .textInformation .InformationInput {
    margin-top: 150px;
    padding: 1vh 0;
    display: flex;
    justify-content: flex-start;
    width: 50%;
  }
  
  .Information .main .textInformation .InformationInput div {
    display: flex;
    flex-direction: column;
    width: 40%;
  }
  
  .Information .main .textInformation .InformationInput div label {
    padding: 2.5vh 0;
  }
  
  .Information .main .textInformation .InformationInput div select {
    text-align: left;
    font-family: 'Source Sans Pro';
    padding: 10px;
    font-size: 1.2rem;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 8px;
  }
  
  .Information .Navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15vh;
    font-family: Arimo;
  }
  
  .Information .Navigation p {
    margin: 0;
    font-size: 1.7rem;
    font-weight: bold;
    font-style: normal;
  }
  
  .Information .Navigation div {
    display: flex;
    justify-content: space-between;
    width: 30%;
  }
  
  .Information .Navigation button {
    padding: 1vh 3vw;
    color: #000000;
    font-family: 'Source Sans Pro';
    font-size: 1.2rem;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 12px;
    transition: background-color 0.3s ease;
    background-color: #fcfcfc
  }
  
  .information_select-options {
    display: flex;
  }

  .Information .Navigation button:hover[disabled] {
    cursor: default;
  }
  
  .Information .Navigation button:hover:not([disabled]) {
    cursor: pointer;
  }

  .information_select-options input {
    font-size: 40px;
  }